* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.container {
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}