.footer{
  margin-top: 80px;
}

.footer__box{
  display: flex;
  justify-content: space-between;
}

.footer__left-list{
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer__left-link{
  text-decoration: none;
}

.footer__center{
  display: flex;
  justify-content: space-between;
}

.footer__center-list{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer__center-list:nth-child(2n){
  margin-left: 50px;
}

.footer__center-link-first{
  text-decoration: none;
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #22343D;
margin-bottom: 8px;
}

.footer__center-link{
  text-decoration: none;
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 35px;
color: #22343D;
}

.footer__right-title{
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #22343D;
height: 57px;
width: 280px;
}

.form{
  display: flex;
  flex-direction: column;
}

.form__input{
  font-family: "ProximaNova";
font-size: 16px;
line-height: 28px;
color: #BCD0E5;
  background: #FFFFFF;
border: 1px solid #BCD0E5;
border-radius: 4px;
max-width: 325px;
height: 48px;
}

.form__button{
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: inline-block;
text-align: center;
color: #FFFFFF;
background: #02897A;
border: none;
border-radius: 4px;
height: 39px;
width: 131px;
margin-top: 21px;
}

.footer__title{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #22343D;
text-align: center;
}

@media screen and (max-width:850px) {
  .footer__box{
    flex-direction: column;
    align-items: center;
  }

  .footer__center{
    flex-direction: column;
  }

  .footer__center-list{
    align-items: center;
  }

  .footer__center-list:nth-child(2n){
    margin-left: 0;
  }

  .footer__right-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .form__button{
    margin-left: auto;
    margin-right: auto;
  }
}