.join{
  margin-top: 50px;
}

.join__box{
  display: flex;
  justify-content: space-around;
  background-color: #02897A;
  border-radius: 32px;
  padding-left: 51px;
  padding-top: 14px;
  padding-right: 36px;
}

.join__title{
  font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 151.4%;
color: #FFFFFF;
max-width: 510px;
}

.join__button{
  font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #02897A;
width: 150px;
height: 50px;
background: #FFFFFF;
border: none;
border-radius: 8px;
}

@media screen and (max-width:830px) {
  .join__box{
    flex-direction: column;
    align-items: center;
  }

  .join__title{
    text-align: center;
  }

  .join__button{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:490px){
.join__img{
  width: 320px;
}
}